.dark-mode{
    background-color: black;
}
.dark-mode .icono-luna{
    filter: invert(100%);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45rem;
    margin: 0;
}
.cambiocolor{
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.cambiocolor img{
    width: 2rem;
}
/* Animación de giro en el eje Y (derecha a izquierda) */
@keyframes spinVertical {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

/* Aplica la animación al logo */
.Icono {
    animation: spinVertical 8s linear infinite; /* Gira continuamente en 8 segundos */
    width: 13rem; /* Ajusta el tamaño según lo necesites */
    height: auto;
    border: none;
    transform-origin: center; /* Establece el punto de giro en el centro */
}
.Arte{
    position: absolute; /* Posición absoluta respecto al viewport */
    bottom: 1rem; /* Separación del borde inferior */
    right: 1rem; /* Separación del borde derecho */
    width: 10rem; /* Ajustar el tamaño de la imagen */
    height: auto; /* Mantener proporción de la imagen */
}